<div class="comment-list">
  
  <div class="well">

    <!--プロフィールアイコン-->
    <% if comment.user.profile_img? %>
      <%= link_to user_path(comment.user) do %>
        <%= image_tag comment.user.profile_img.url, class:"profile_icon" %>
      <% end %>
    <% else %>
      <%= link_to user_path(comment.user) do %>
        <%= image_tag "no_profile_img.png", class:"profile_icon" %>
      <% end %>
    <% end %>
    
    <!--アプリアイコン-->
    <div class="user-comment-app-icon">
      <%= link_to product_path(comment.product) do %>
        <%= image_tag comment.product.img_icon.url %>
      <% end %>
    </div>
  
    <!--ネーム-->
    <span class="profile-name"><%= comment.user.nickname %></span>
    
    <!--タイムスタンプ-->
    <span class="timestamp">
      <%= time_ago_in_words(comment.created_at) %>前
    </span>        
    <p></p>
    
    <!--コメント-->
    <span class="comment">
      <%#= simple_format(h(comment.comment)) %>
      <%= auto_link(simple_format(h(comment.comment)), link = :urls, href_options = {:target => '_blank'})  %>
    </span>
    <p></p>
    
    <!--添付イメージ-->
    <% if comment.image? %>
      <%# binding.pry %>
      <div class="comment-img">
        <%= link_to "#modal-img-dialog",data: {
                                        toggle: "modal",
                                        title: comment.product.appname,
                                        imgurl: comment.image.url
                                        } do %>
          <%= image_tag comment.image.url %>
        <% end %>
      </div>
    <% end %>

    <!--================
    リプライ表示
    ===================-->
    <%# if comment.comment_replies.present? %>
      <% comment.comment_replies.order(created_at: :desc).each do |reply| %>
        <%= render partial: 'user_comments/comment_reply', locals: { reply: reply, comment: comment } %>
      <% end %>
    <%# end %>
    
    <hr />
    
    <!--=================
    フッターメニュー
    ====================-->
    <div class="comment-footer-menu">

      <% if user_logged_in? %>
        <!--ブクマ-->
        <% if current_user.bookmarking?(comment) %>
          <%#=link_to "解除", bookmark_path(comment), method: :delete,%>
          <%=link_to "解除(#{comment.bookmarked_users.count})", 
                    bookmark_path(current_user.bookmarking_relationships.find_by(comment_id: comment.id)), 
                    method: :delete,
                    class: "btn btn-sm btn-default glyphicon glyphicon-star comment-btn" %>
        <% else %>
          <%=link_to "ブクマ(#{comment.bookmarked_users.count})", 
                    bookmarks_path(comment_id: comment.id), 
                    method: :post,
                    class: "btn btn-sm btn-default glyphicon glyphicon-star-empty comment-btn" %>
        <% end %>
      <% else %>
        <!--ログインしてなければダミーを置く-->
        <%=link_to "ブクマ(#{comment.bookmarked_users.count})",
                                        "#alert-user-logged-in", 
                                        data: {toggle: "modal",
                                              title: "ユーザーログインして下さい",
                                              text: "ブクマするにはユーザーログインが必要です。"
                                              }, 
                                        class: "btn btn-sm btn-default glyphicon glyphicon-star-empty comment-btn" %>
      <% end %>
  
      <!--返信-->
      <a href=<%="#comment-reply-#{comment.id}" %> data-toggle="collapse" class="btn btn-sm btn-default glyphicon glyphicon-edit comment-btn">返信</a>

      <!--通報-->
      <a href=<%="#notification-modal-#{comment.id}" %> data-toggle="modal" class="btn btn-sm btn-default glyphicon glyphicon-bullhorn comment-btn">通報</a>
      
      <!--コメント削除-->
      <% if same_user?(comment.user.id) %>
        <%= link_to "削除", user_comment_path(comment.id), method: "delete",
                                            data: {confirm: "つぶやきを削除してもよろしいですか？
                                            削除すると元に戻す事はできません。",
                                            "commit" => "削除する",
                                            "cancel" => "キャンセル"
                                            },title: "本当に削除しますか？", 
                                            class: "btn btn-sm btn-default glyphicon glyphicon-trash comment-btn",
                                            style: "margin-right:-20px;" %>
      <% end %>
      
    </div>
    <!--================
    返信用パネル
    ===================-->
    <div id=<%="comment-reply-#{comment.id}" %> class="collapse">
      <% if user_logged_in? %>
        <%=render "user_comments/comment_reply_form",comment: comment %>
      <% else %>
        <div class="login-prompt">
          <p></p>
          ユーザーログインが必要です。
        </div>
      <% end %>
    </div>
  
  </div>

</div>

<!--===================
 通報用モーダルダイアログ
===================-->
<div class="modal fade" id=<%="notification-modal-#{comment.id}" %> >
  <%= render 'user_comments/notification_modal_dialog',comment: comment %>
</div>

