<div class="panel panel-info hidden-xs">
  <div class="panel-heading">
    <h2 class="panel-title">デベロッパーメニュー</h2>
  </div>
  <div class="panel-body dev-side-menu">
    <%= link_to 'お知らせ', notice_path, class:"btn btn-info glyphicon glyphicon-info-sign form-control" %>
    <p></p>
    <%= link_to "マイページ",developer_path(current_developer) ,class:"btn btn-info glyphicon glyphicon-user form-control" %>
    <p></p>
    <%= link_to "アカウント情報",edit_developer_path(current_developer), class:"btn btn-info glyphicon glyphicon-list-alt form-control" %>
    <p></p>
    <%= link_to "新規アプリ登録",new_product_path, class:"btn btn-info glyphicon glyphicon-tower form-control" %>
    <p></p>
    <%= link_to "ログアウト",dev_session_path(current_developer), method: "delete", class:"btn btn-info glyphicon glyphicon-log-out form-control" %>
    <p></p>
    <%= link_to "退会","#developer_delete",data: {toggle: "modal"}, class:"btn btn-info glyphicon glyphicon-off form-control" %>
    <p></p>

  </div>
</div>