<div class="panel panel-info">

  <div class="panel-heading">
    <h2 class="panel-title glyphicon glyphicon-envelope">メールアドレスでログイン</h2>
  </div>

  <div class="panel-body">
    <%= form_for(:dev_session, url: dev_sessions_path) do |f| %>

      <%= f.label :email,"電子メール" %>
      <%= f.email_field :email, class: 'form-control', autofocus: true %>
      <p></p>
      <%= f.label :password,"パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>
      <p></p>
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
  </div>
  
  <div class="panel-footer">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    ログインするとアプリを登録して皆んなに見てもらう事ができます。
    ログインするには<%= link_to "サインアップ",new_developer_path %>する必要があります。
  </div>

</div>