<!--========================
ヘッダー表示
==========================-->
<%= render 'layouts/header' %>

<!--========================
フラッシュメッセージ
==========================-->
<div class="container-fluid" style="margin-top:10px;">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
  </div>
</div>

<!--========================
ボディ
==========================-->
<div class="container-fluid">        <!-- 全体を囲むコンテナ -->
  <div class="row">
    <!--========================
    左サイド
    ==========================-->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <aside class=dev-mypage-left>
        <%= render 'developers/dev_profile' %>
        <%= render 'developers/dev_side_menu' %>
      </aside>
    </div>
    <!--========================
    中央（メイン）
    ==========================-->
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="dev-mypage-center">
        <% if same_developer? params[:id] %>
          <%= render 'dev_edit_form' %>
        <% else %>
          <%= render 'shared/session_error' %>
        <% end %>
      </div>
    </div>
    <!--========================
    右サイド
    ==========================-->
    <div class="col-xs-12 col-md-3 hidden-xs hidden-sm">
      <!--ダミー広告-->
      <div class="dev-mypage-right">
        <%= image_tag 'ad_dummy.png',class:"img-responsive" %>
      </div>
    </div>

  </div>
</div>        <!-- 全体を囲むコンテナ -->

<!--=========================
余白
==========================-->
<div class="row">
  <div class="col-xs-12 col-sm-12 text-center" style="height:50px;">

  </div>
</div>

<!--========================
フッダー表示
==========================-->
<%= render 'layouts/footer' %>

<!--========================
バックスクロールボタン表示
==========================-->
<%= render 'layouts/back_scroll_btn' %>