<!--========================
ヘッダー表示
==========================-->
<%= render 'layouts/header' %>

<!--========================
フロート・バー表示
==========================-->
<%= render 'top_pages/float_search_bar' %>

<!--========================
サイド・バー表示
==========================-->
<%= render 'top_pages/side_bar' %>

<!--========================
サーチボックス表示
==========================-->
<%= render 'top_pages/search_box' %>

<!--========================
フラッシュメッセージ
==========================-->
<div class="container-fluid" style="margin-top:50px;">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
  </div>
</div>

<!--========================
ボディ
==========================-->
<content>
  <div class="container-fluid">
    <div class="row">

      <!--========================
      左サイド
      ==========================-->
      <div class="col-xs-12 col-sm-4 col-md-3 hidden-xs">
        <aside class=top-page-left>
          <!-- i-mobile for PC client script -->
          <div class="sticky-ad-left width-160">
          	<script type="text/javascript">
          		imobile_pid = "31967"; 
          		imobile_asid = "753141"; 
          		imobile_width = 160; 
          		imobile_height = 600;
          	</script>
          	<script type="text/javascript" src="http://spdeliver.i-mobile.co.jp/script/ads.js?20101001"></script>
          </div>
        </aside>
      </div>
      <!--========================
      中央（メイン）
      ==========================-->
      <div class="col-xs-12 col-sm-8 col-md-6">
        <div class="top-page-center page-center">
          <!-- i-mobile for PC client script -->
          <div style="text-align:center;" class="visible-sm visible-md visible-lg">
          	<script type="text/javascript">
          		imobile_pid = "31967"; 
          		imobile_asid = "754817"; 
          		imobile_width = 468; 
          		imobile_height = 60;
          	</script>
          	<script type="text/javascript" src="http://spdeliver.i-mobile.co.jp/script/ads.js?20101001"></script>
        	</div>
          <!-- i-mobile for SmartPhone client script -->
          <div style="text-align:center;" class="visible-xs">
            <!-- i-mobile for SmartPhone client script -->
          	<script type="text/javascript">
          		imobile_tag_ver = "0.3"; 
          		imobile_pid = "31967"; 
          		imobile_asid = "755133"; 
          		imobile_type = "icon_inline";
            	imobile_style = {
            		align: "center",
            	};
            	imobile_icon = {
            		num: "3",
            		show_title: "true",
            	};
          	</script>
          	<script type="text/javascript" src="http://spad.i-mobile.co.jp/script/adssp.js?20110215"></script>
	        </div>
          <p></p>
          <%= render 'top_pages/dev_comment_all' %>
        </div>
  
      </div>
      <!--========================
      右サイド
      ==========================-->
      <div class="col-xs-12 col-md-3 hidden-sm hidden-xs">
        <div class="top-page-right">
          <!-- i-mobile for PC client script -->
          <div class="sticky-ad-right">
          	<script type="text/javascript">
          		imobile_pid = "31967"; 
          		imobile_asid = "753155"; 
          		imobile_width = 160; 
          		imobile_height = 600;
          	</script>
          	<script type="text/javascript" src="http://spdeliver.i-mobile.co.jp/script/ads.js?20101001"></script>
        	</div>
        </div>
      </div>

    </div>
  </div>
</content>

<!--========================
フッダー表示
==========================-->
<%= render 'layouts/footer' %>

<!--========================
バックスクロールボタン表示
==========================-->
<%= render 'layouts/back_scroll_btn' %>
