<!--========================
ヘッダー表示
==========================-->
<%= render 'layouts/header' %>

<!--========================
フロート・バー表示
==========================-->
<%= render 'layouts/float_bar' %>

<!--========================
サイド・バー表示
==========================-->
<%= render 'layouts/side_bar' %>

<!--========================
ボディ
==========================-->
<content>
  <div class="container-fluid" style="margin-top:50px;">
    <div class="row">
      <div class="col-xs-12 col-sm-12" style="height:1000px" style="padding:0px;" ><!--定義されているPaddingを打ち消し-->
  
        <h1>TopPages#top</h1>
        <p>Find me in app/views/top_pages/top.html.erb</p>
        
      </div>
    </div>
  </div>
</content>

<!--========================
フッダー表示
==========================-->
<%= render 'layouts/footer' %>

<!--========================
バックスクロールボタン表示
==========================-->
<%= render 'layouts/back_scroll_btn' %>
