<floatbar>
  <div class="sticky-menu-bar">
    <div class="btn-toolbar">
      <div class="btn-group btn-group-justified">
        <%= link_to user_path(@user), class:"btn btn-default" do %>
          <span class="glyphicon glyphicon-book">つぶやき一覧</span>
        <% end %>
        <%= link_to user_timeline_path(id: @user.id), class:"btn btn-default" do %>
          <span class="glyphicon glyphicon-comment">タイムライン</span>
        <% end %>
        <%= link_to user_favorite_path(id: @user.id), class:"btn btn-default" do %>
          <span class="glyphicon glyphicon-education">お気に入り</span>
        <% end %>
      </div>
      <div class="btn-group btn-group-justified">
        <%= link_to user_bookmark_path(id: @user.id), class:"btn btn-default" do %>
          <span class="glyphicon glyphicon-book">ブックマーク</span>
        <% end %>
        <%= link_to "#", class:"btn btn-default" do %>
          <span class="glyphicon glyphicon-comment">アクティビティ</span>
        <% end %>
      </div>
    </div>
  </div>
</floatbar>
