<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title glyphicon glyphicon-pencil">アカウント編集</h2>
  </div>
  
  <% if @user.provider.present? %>
    <div class="panel-body" style="height:300px">
  <% else %>
    <div class="panel-body">
  <% end %>
  
    <%= form_for(@user) do |f| %>

      <!-- エラーメッセージ -->
      <%= render 'shared/error_messages', object: f.object %>
      
      <!--アカウント種別(通常・SNS)判別用-->
      <%= f.hidden_field :provider, :value => @user.provider %>
      
      <%= f.label :profile_img, "プロフィール画像" %>
      <%= f.file_field :profile_img %>
      <%= image_tag @user.profile_img.url,:size => '100x100'  %>
      <%= f.check_box :remove_profile_img %>削除する
      <p></p>
      
      <% if !@user.provider.present? %>

        <%= f.label :nickname, "ニックネーム" %>
        <%= f.text_field :nickname, class: 'form-control', autofocus: true %>
        <p></p>
        <%= f.label :email,"電子メール" %>
        <%= f.email_field :email, class: 'form-control' %>
        <p></p>
        <%= f.label :password,"パスワード:" %> (パスワードを変更する場合のみ入力して下さい)
        <%= f.password_field :password, class: 'form-control' %>
        <p></p>
        <%= f.label :password_confirmation, "パスワード（確認用）" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <p></p>
        
      <% end %>

      <%= f.submit "変更する", class: "btn btn-primary" %>
      
    <% end %>
    
  </div>
  
  <% if @user.provider.present? %>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      SNSアカウントではニックネーム、電子メール、パスワードは変更できません。
    </div>
  <% end %>
  
</div>
