<div class="activity-list">
  
  <!--=========================
  つぶやき
  ============================-->
  <% if activity[0]==0 %>
    <% if product = Product.find_by_id(activity[2]) %>
      <div class="well">
        <%= time_ago_in_words(activity[3]) %>前
        <p></p>
        <%= link_to user_path(@user) do %>
          <% if @user.profile_img? %>
            <%=image_tag @user.profile_img.url, class:"profile-icon" %>
          <% else %>
            <%= image_tag 'no_profile_img.png', class:"profile-icon" %>
          <% end %>
          <span class="profile-name"><%= @user.nickname %></span>
        <% end %>
        さんが
        <%= link_to product_path(product) do %>
          <%= image_tag product.img_icon.url, class:"app-icon" %>
          <span class="profile-name"><%=product.appname %></span>
        <% end %>
        につぶやきました。
        
        <% if comment=UserComment.find_by_id(activity[1]) %>
          <%= render partial: 'users/user_activity_comment', locals: { comment: comment } %>
        <% end %>
        
      </div>
    <% end %>
    
  <!--=========================
  リプライ
  ============================-->
  <% elsif activity[0]==1 %>
    <% if comment=UserComment.find_by_id(activity[2]) %>
      <div class="well">
        <%= time_ago_in_words(activity[3]) %>前
        <p></p>
        <%= link_to user_path(@user) do %>
          <% if @user.profile_img? %>
            <%=image_tag @user.profile_img.url, class:"profile-icon" %>
          <% else %>
            <%= image_tag 'no_profile_img.png', class:"profile-icon" %>
          <% end %>
          <span class="profile-name"><%= @user.nickname %></span>
        <% end %>
        さんが
        <%= link_to user_path(comment.user) do %>
          <% if comment.user.profile_img? %>
            <%=image_tag comment.user.profile_img.url, class:"profile-icon" %>
          <% else %>
            <%= image_tag 'no_profile_img.png', class:"profile-icon" %>
          <% end %>
          <span class="profile-name"><%= comment.user.nickname %></span>
        <% end %>
        さんのつぶやきに返信しました。
        
        <% if reply=CommentReply.find_by_id(activity[1]) %>
          <%= render partial: 'users/user_activity_reply', locals: { reply: reply } %>
        <% end %>
        
      </div>
    <% end %>
    
  <!--=========================
  フォロー
  ============================-->
  <% elsif activity[0]==2 %>
    <% if follower=User.find_by_id(activity[2]) %>
      <div class="well">
        <%= time_ago_in_words(activity[3]) %>前
        <p></p>
        <%= link_to user_path(@user) do %>
          <% if @user.profile_img? %>
            <%=image_tag @user.profile_img.url, class:"profile-icon" %>
          <% else %>
            <%= image_tag 'no_profile_img.png', class:"profile-icon" %>
          <% end %>
          <span class="profile-name"><%= @user.nickname %></span>
        <% end %>
        さんが
        <%= link_to user_path(follower) do %>
          <% if follower.profile_img? %>
            <%=image_tag follower.profile_img.url, class:"profile-icon" %>
          <% else %>
            <%= image_tag 'no_profile_img.png', class:"profile-icon" %>
          <% end %>
          <span class="profile-name"><%= follower.nickname %></span>
        <% end %>
        さんをフォローしました。
      </div>
    <% end %>
    
  <!--=========================
  お気に入り
  ============================-->
  <% elsif activity[0]==3 %>
    <% if product=Product.find_by_id(activity[2]) %>
      <div class="well">
        <%= time_ago_in_words(activity[3]) %>前
        <p></p>
        <%= link_to user_path(@user) do %>
          <% if @user.profile_img? %>
            <%=image_tag @user.profile_img.url, class:"profile-icon" %>
          <% else %>
            <%= image_tag 'no_profile_img.png', class:"profile-icon" %>
          <% end %>
          <span class="profile-name"><%= @user.nickname %></span>
        <% end %>
        さんが
        <%= link_to product_path(product) do %>
          <%= image_tag product.img_icon.url, class:"app-icon" %>
          <span class="profile-name"><%=product.appname %></span>
        <% end %>
        をお気に入りしました。
      </div>
    <% end %>
    
  <!--=========================
  ブクマ
  ============================-->
  <% elsif activity[0]==4 %>
    <% if comment=UserComment.find_by_id(activity[2]) %>
      <div class="well">
        <%= time_ago_in_words(activity[3]) %>前
        <p></p>
        <%= link_to user_path(@user) do %>
          <% if @user.profile_img? %>
            <%=image_tag @user.profile_img.url, class:"profile-icon" %>
          <% else %>
            <%= image_tag 'no_profile_img.png', class:"profile-icon" %>
          <% end %>
          <span class="profile-name"><%= @user.nickname %></span>
        <% end %>
        さんが
        <%= link_to user_path(comment.user) do %>
          <% if comment.user.profile_img? %>
            <%=image_tag comment.user.profile_img.url, class:"profile-icon" %>
          <% else %>
            <%= image_tag 'no_profile_img.png', class:"profile-icon" %>
          <% end %>
          <span class="profile-name"><%= comment.user.nickname %></span>
        <% end %>
        さんのつぶやきをブクマしました。
        
        <% if comment=UserComment.find_by_id(activity[2]) %>
          <%= render partial: 'users/user_activity_comment', locals: { comment: comment } %>
        <% end %>
        
      </div>
    <% end %>
  <% end %>

</div>