<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">ユーザープロフィール</h2>
  </div>
  <div class="panel-body user-profile">
    
    <!--プロフィールアイコン-->
    <% if @user.profile_img? %>
      <%= link_to user_path(@user) do %>
        <%= image_tag @user.profile_img.url, class:"profile-icon" %>
      <% end %>
    <% else %>
      <%= link_to user_path(@user) do %>
        <%= image_tag 'no_profile_img.png', class:"profile-icon" %>
      <% end %>
    <% end %>

    <!--名前-->
    <span class="profile-name">
      <%= link_to @user.nickname, user_path(@user) %>
    </span>
    <p></p>
    
    <!--プロフィール-->
    <span class="my-profile">
      <% if @user.profile? %>
        <%#= auto_link(simple_format(h(@user.profile)), link = :urls, href_options = {:target => '_blank'})  %>
        <%= @user.profile %>
      <% else %>
        プロフィールはありません。
      <% end %>
    </span>

    <p></p>
    
    <!--フォローボタン-->
    <% if user_logged_in? %>
      <% if current_user != @user %>
        <% if current_user.following?(@user) %>
          <!--フォロー解除-->
          <%= form_for(current_user.following_relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f| %>
            <%= f.submit "フォロー解除", class: "btn btn-default form-control" %>
          <% end %>
        <% else %>
          <!--フォロー登録-->
          <%= form_for(current_user.following_relationships.build) do |f| %>
            <%= hidden_field_tag :followed_id, @user.id %>
            <%= f.submit "フォローする", class: "btn btn-danger form-control" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <p></p>
    
    <!--フォロー-->
    <div class="bg-info text-info follow-label">フォロー</div>
    <div class="my-follow">
      <% if !@followings.present? %>
        <span class="result-empty">まだ誰もございません。</span>
      <% else %>
        <% @followings.each do |followings| %>
          <% if followings.profile_img? %>
            <%= link_to user_path(followings) do %>
              <%=image_tag followings.profile_img.url, class:"follow-icon" %>
            <% end %>
          <% else %>
            <%= link_to user_path(followings) do %>
              <%=image_tag "no_profile_img.png", class:"follow-icon" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <!--フォロワー-->
    <div class="bg-info text-info follow-label">フォロワー</div>
    <div class="my-follow">
      <% if !@followers.present? %>
        <span class="result-empty">まだ誰もございません。</span>
      <% else %>
        <% @followers.each do |followers| %>
          <% if followers.profile_img? %>
            <%= link_to user_path(followers) do %>
              <%=image_tag followers.profile_img.url, class:"follow-icon" %>
            <% end %>
          <% else %>
            <%= link_to user_path(followers) do %>
              <%=image_tag "no_profile_img.png", class:"follow-icon" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>