<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title glyphicon glyphicon-pencil">アカウント編集</h2>
  </div>
  
  <div class="panel-body">

    <%= form_for(@user) do |f| %>

      <!-- エラーメッセージ -->
      <%= render 'shared/error_messages', object: f.object %>
      
      <!--アカウント種別(通常・SNS)判別用-->
      <%= f.hidden_field :provider, :value => @user.provider %>
      
      <!--======================
      プロフィール画像
      =========================-->
      <%= f.label :profile_img, "プロフィール画像" %>
      <p class="well well-sm">
        アップロードできるファイルタイプは、jpg, jpeg, gif, png, bmp, tiff です。<br class="hidden-xs">
        画像は概ね正方形でお願いします。大きさは自動的に100px 100pxにリサイズされます。
      </p>
      <%= f.file_field :profile_img, onchange:"fileChange(event,'disp')" %>
      <%= f.hidden_field :profile_img_cache %>
      <p></p>
      
      <div id="disp">
        <% if @user.profile_img? %>
          <%= image_tag @user.profile_img.url %>
          <%= f.check_box :remove_profile_img %>削除する
        <% end %>
      </div>
      
      <p></p>
      
      <!--======================
      通常アカウントのみ変更可能
      =========================-->
      <% if !@user.provider.present? %>

        <%= f.label :nickname, "ニックネーム" %>
        <%= f.text_field :nickname, class: 'form-control', autofocus: true %>
        <p></p>
        <%= f.label :email,"電子メール" %>
        <%= f.email_field :email, class: 'form-control' %>
        <p></p>
        <%= f.label :password,"パスワード:" %> (パスワードを変更する場合のみ入力して下さい)
        <%= f.password_field :password, class: 'form-control' %>
        <p></p>
        <%= f.label :password_confirmation, "パスワード（確認用）" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <p></p>
        
      <% end %>

      <%= f.submit "変更する", class: "btn btn-primary" %>
      
    <% end %>
    
  </div>
  
  <% if @user.provider.present? %>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      SNSアカウントではニックネーム、電子メール、パスワードは変更できません。
    </div>
  <% end %>
  
</div>

<!--===================
 画像読み込みアラート
===================-->
<div class="modal fade" id="alert_user_profile_img">
  <%= render 'shared/alert_profile_img' %>
</div>