<!--========================
タイトル、メタ情報表示
==========================-->
<% content_for :head do %>
  <title>デヴェロッパーの皆様へ | ゲームニスト - ゲームアプリソーシャルレビューサービス</title>
  <meta name="description" content="ゲームニスト | デヴェロッパーの皆様へ">
  <meta name="keywords" content="ゲームニスト,デヴェロッパーの皆様へ">
<% end %>

<!--========================
ヘッダー表示
==========================-->
<%= render 'layouts/header' %>

<!--========================
フラッシュメッセージ
==========================-->
<div class="container-fluid" style="margin-top:10px;">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
  </div>
</div>

<!--
============================= 
デヴェロッパーの皆様へ（本文）
=============================
-->
<div class="container-fluid" style="margin-top:10px;">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-3"></div>
    
    <div class="col-xs-12 col-sm-8 col-md-6">
  
      <div class="panel panel-info">
        <div class="panel-heading"><h2 class="panel-title">デベロッパーの皆様へ</h2></div>
          <div class="panel-body">

            <div class="txtTempSet txtTemp2 clearfix">
              <div class="fL">
                <span>
                　ゲームニストにお越しいただき誠にありがとうございます。
                </span>
              </div>
            </div>

            <div class="txtTempSet txtTemp2 clearfix">
              <div class="fL">
                <span>
                  　爆発的にアプリの数が増え続けている今日、ベンダーの提供するアプリストアだけでは
                  マーケット全体が機能不全に陥っていると言っても過言ではない状況が続いております。
                  せっかく作ったアプリも誰の目にも触れられる事なく、埋もれてしまって放置されてるだけ、
                  と言った経験のある方もいるかもしれません。
                </span>
              </div>
            </div>

            <div class="txtTempSet txtTemp2 clearfix">
              <div class="fL">
                <span>
                　本サービスを作った私たちも実を言うとゲーム開発者であり、そんな状況を見てきた一人であります。
                個人・小規模デベロッパーにとって過度な宣伝広告費は掛けられないのが本音であり、
                あとはレビューサイトへアプリの掲載依頼をお願いする事くらいしかできないのが実情かと思います。
                </span>
              </div>
            </div>

            <div class="txtTempSet txtTemp2 clearfix">
              <div class="fL">
                <span>
                  　この状況をなんとかしたい。
                  <i>"自由にアプリを登録できる仕組みがあれば面白いのではないか？"</i>
                  そう言った思いでこのサービスを考え、構築し、立ち上げました。
                  アプリを登録するのに審査もお金も掛かりません。ほんの少しの時間と労力があれば登録できます。
                  微力ながら個人・小規模ゲームデベロッパーのお力になれれば幸いです。
                </span>
              </div>
            </div>

            <div class="txtTempSet txtTemp2 clearfix">
              <div class="fL">
                <span>
                　デベロッパー皆様方の登録を心よりお待ちしております。
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>
    <div class="col-xs-12 col-sm-2 col-md-3"></div>
  </div>  
</div>

<!--=========================
余白
==========================-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center" style="height:50px;">
  
    </div>
  </div>
</div>

<!--========================
フッダー表示
==========================-->
<%= render 'layouts/footer' %>

<!--========================
バックスクロールボタン表示
==========================-->
<%= render 'layouts/back_scroll_btn' %>