<!--========================
タイトル、メタ情報表示
==========================-->
<% content_for :head do %>
  <title>FAQ | ゲームニスト - ゲームアプリソーシャルレビューサービス</title>
  <meta name="description" content="ゲームニスト | FAQ">
  <meta name="keywords" content="ゲームニスト,FAQ">
<% end %>

<!--========================
ヘッダー表示
==========================-->
<%= render 'layouts/header' %>

<!--========================
フラッシュメッセージ
==========================-->
<div class="container-fluid" style="margin-top:10px;">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
  </div>
</div>

<!--
============================= 
FAQ（本文）
=============================
-->
<div class="container-fluid" style="margin-top:10px;">
  <div class="row">
    <div class="col-xs-12 col-sm-2"></div>
    
    <div class="col-xs-12 col-sm-8">
  
      <div class="panel panel-info">
        <div class="panel-heading"><h2 class="panel-title">FAQ - よくある質問 - </h2></div>
          <div class="panel-body faq">
            
            <div class="well well-sm well-left">
              <span class="question">Q. 利用料金はかかりますか？</span>
              <p></p>
              <span class="answer">
                いっさい無料でご利用いただけます。
              </span>
            </div>

            <div class="well well-sm well-right">
              <span class="question">Q. 広告がうざいのですが？</span>
              <p></p>
              <span class="answer">
                本サービスの運営は広告からの収益で成り立っております。
                無料サービスのため、ご理解とご協力をお願いいたします。
              </span>
            </div>

            <div class="well well-sm well-left">
              <span class="question">Q. ユーザー登録するメリットは？</span>
              <p></p>
              <span class="answer">
                ユーザー登録すると、攻略記事やプレイ日記をつぶやき形式で投稿したり、
                他のユーザーをフォローして友達を作ったり、お気に入りのアプリを見せ合ったりとか、
                日々のゲームライフをよりいっそう楽しくする事ができます。
              </span>
            </div>

            <div class="well well-sm well-right">
              <span class="question">Q. 閲覧するだけでもユーザー登録が必要ですか？</span>
              <p></p>
              <span class="answer">
                閲覧するだけならユーザー登録は必ずしも必要はありません。
                でも登録いただけると運営スタッフが喜びます。
              </span>
            </div>

            <div class="well well-sm well-left">
              <span class="question">Q. デベロッパー登録するメリットは？</span>
              <p></p>
              <span class="answer">
                デベロッパー登録すると、ご自身のゲームアプリを登録してみんなに見てもらう事ができます。
                少しでもアプリの知名度を上げ、ダウンロードに貢献するのが、本サービスの目的でもあります。
              </span>
            </div>

          </div>
        </div>
      </div>
    <div class="col-xs-12 col-sm-2"></div>
  </div>  
</div>

<!--=========================
余白
==========================-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center" style="height:50px;">
  
    </div>
  </div>
</div>

<!--========================
フッダー表示
==========================-->
<%= render 'layouts/footer' %>

<!--========================
バックスクロールボタン表示
==========================-->
<%= render 'layouts/back_scroll_btn' %>