<!--========================
タイトル、メタ情報表示
==========================-->
<% content_for :head do %>
  <title>お知らせ | ゲームニスト - ゲームアプリソーシャルレビューサービス</title>
  <meta name="description" content="ゲームニスト | お知らせ">
  <meta name="keywords" content="ゲームニスト,お知らせ">
<% end %>

<!--========================
ヘッダー表示
==========================-->
<%= render 'layouts/header' %>

<!--========================
フラッシュメッセージ
==========================-->
<div class="container-fluid" style="margin-top:10px;">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
  </div>
</div>

<!--
============================= 
お知らせ（本文）
=============================
-->
<div class="container-fluid" style="margin-top:10px;">
  <div class="row">
    <div class="col-xs-12 col-sm-2"></div>
    
    <div class="col-xs-12 col-sm-8">
  
      <div class="panel panel-info">

        <div class="panel-heading">
          <h2 class="panel-title">
            お知らせ - 2016/03/01号 - デベロッパー向けリリース開始
          </h2>
        </div>

        <div class="panel-body">
          <div class="txtTempSet txtTemp2 clearfix">
            <div class="fL">
              <span>
              　合同会社ヴァージンテックは、ゲームのソーシャルレビュー＆コミュニケーションサービス
              『ゲームニスト』を、４月１日よりオープンいたします。
              これに先立ちまして、本日３月１日よりデベロッパー向け先行リリースを開始いたしました。
              <p></p>
              　アプリ登録は無料です。多数のゲームデベロッパー皆様方のご参加をお待ちしております！
              <p></p>
              　なお、４月の本格オープンからは宣伝やプロモーションにも力を入れていく予定でございますので、
              微力ながらもゲームアプリの認知度向上及びダウンロード促進に貢献させていただきたいと
              思っております。
              <p></p>
              　ゲームデベロッパー皆様方のアプリ登録を心よりお待ちしております。
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2"></div>
  </div>  
</div>

<!--=========================
余白
==========================-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center" style="height:50px;">
  
    </div>
  </div>
</div>

<!--========================
フッダー表示
==========================-->
<%= render 'layouts/footer' %>

<!--========================
バックスクロールボタン表示
==========================-->
<%= render 'layouts/back_scroll_btn' %>