<!--========================
タイトル、メタ情報表示
==========================-->
<% content_for :head do %>
  <title>利用規約 | ゲームニスト - ゲームアプリソーシャルレビューサービス</title>
  <meta name="description" content="ゲームニスト | 利用規約">
  <meta name="keywords" content="ゲームニスト,利用規約">
<% end %>

<!--========================
ヘッダー表示
==========================-->
<%= render 'layouts/header' %>

<!--========================
フラッシュメッセージ
==========================-->
<div class="container-fluid" style="margin-top:10px;">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
  </div>
</div>

<!--
============================= 
利用規約（本文）
=============================
-->
<div class="container-fluid" style="margin-top:10px;">
  <div class="row">
    <div class="col-xs-12 col-sm-2"></div>
    
    <div class="col-xs-12 col-sm-8">
  
      <div class="panel panel-info">
        <div class="panel-heading"><h2 class="panel-title">ゲームニスト - 利用規約</h2></div>
          <div class="panel-body">
            <p>

              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <span>
                    　この利用規約（以下「本規約」といいます）は、合同会社ヴァージンテック（以下「当社」といいます）が提供する本サービス（第1条に定義）の利用に関する条件を定めるものです。お客様（第1条に定義）は、本サービスの利用にあたり、本規約を十分に確認いただき、すべての内容に同意いただく必要があります。
                    お客様は、本サービスを利用することにより、本規約の全ての記載内容について同意したものとみなされます。お客様が未成年者の場合、親権者又は保護者の同意が必要です。未成年のお客様が、本サービスを利用した場合、親権者又は保護者の同意を得ているものとします。
                  </span>
                </div>
              </div>

              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第１条（用語の定義）</strong>
                  <span>
                    ● 本サービス<br>
                    　合同会社ヴァージンテックが提供する「ゲーム☆ニスト」に関するすべてのサービス及びこれに付随して提供されるサービス
                    <p></p>
                    ● 閲覧ユーザー<br>
                    　本サービスに会員登録せず利用する、閲覧のみのユーザー
                    <p></p>
                    ● 登録ユーザー<br>
                    　本サービスに会員登録したユーザー
                    <p></p>
                    ● 登録デヴェロッパー<br>
                    　本サービスに会員登録したデヴェロッパー
                    <p></p>
                    ● お客様<br>
                    　本サービスを利用する「閲覧ユーザー」及び「登録ユーザー」「登録デヴェロッパー」
                    <p></p>
                    ● 会員ユーザー<br>
                    　本サービスを利用する「登録ユーザー」「登録デヴェロッパー」
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第２条（利用登録等）</strong>
                  <span>
                  １. 本サービスは、無償で登録、利用できるものとします。ただし通信サービスやインターネット接続サービス等に掛かる費用はお客様の負担とします。<p></p>
                  ２. お客様は、本サービスを利用するにあたり必要となる通信機器、ソフトウェア、公衆回線等利用設備について、自己の責任と負担で必要な全てを用意するものとします。<p></p>
                  ３. お客様が本サービスを利用するには、本サービスにおいてメールアドレス、パスワード等の登録、又は当社が指定する第三者の発行するID及びパスワードを求められることがあります。<p></p>
                  ４. 当社は、本サービスを利用するにあたり登録した情報（以下「登録情報」といいます）が以下に該当すると判断した場合、当該お客様による登録を承認しないこと、当該登録を削除すること又は当社が適切と判断する措置を講ずることがあります。<p></p>
                  （１）登録情報が第三者に嫌悪感を与える等の公序良俗に反する表現を含んでいる場合<p></p>
                  （２）本規約に違反したことがある者からの利用登録である場合<p></p>
                  （３）本規約に違反したことがある者からの招待による利用登録である場合<p></p>
                  （４）第三者になりすますことを目的としている場合<p></p>
                  （５）当社の判断により､新規の利用を制限している場合<p></p>
                  （６）前各号以外で、当社が不適切な利用であると判断する場合<p></p>
                  ５. お客様は、登録情報に変更があった場合には、速やかに当社所定の方法で変更の届出をするものとします。<p></p>
                  ６. 前項の届出がないことによって、第三者が不利益又は損害を被った場合は、当該お客様がその損害を賠償するものとします。<p></p>
                  ７. 当社は、本サービスへの最終アクセス日時から一定期間が経過しているお客様の登録を、当社の判断でお客様に通知することなく削除出来るものとします。<p></p>
                  </span>
                </div>
              </div>

              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第３条（登録情報）</strong>
                  <span>
                  １. お客様は、登録情報について、自己の責任の下、登録及び管理するものとします。<p></p>
                  ２. 当社は、お客様が登録情報を失念、削除、不正確又は虚偽であったためにお客様が被った不利益及び損害に関して、責任を負わないものとします。<p></p>
                  ３. お客様は、当社の事前の同意なく登録情報を第三者に利用させたり、貸与、譲渡、売買、質入、公開等をすることはできません。<p></p>
                  ４. 当社は、登録情報によって本サービスの利用があった場合、利用登録を行ったお客様本人が利用したものと扱うことができ、当該利用によって生じた結果の一切の責任については、利用登録を行ったお客様本人に帰属するものとします。<p></p>
                  ５. お客様による登録情報の管理が不十分であったために第三者が登録情報を不正使用した場合、お客様に不利益又は損害が生じても、当社は責任を負わないものとします。<p></p>
                  ６. 前項の第三者の不正使用により、当社又は第三者に損害が生じた場合、お客様は当社及び損害を被った第三者に対し、損害を賠償するものとします。<p></p>
                  ７. お客様は、登録情報を第三者に不正に使用される可能性がある場合は、速やかに当社に通知するものとします。<p></p>
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第４条（著作権等の権利の帰属）</strong>
                  <span>
                  １. 本サービスに関する特許権、実用新案権、意匠権、著作権等（著作権法第27条及び第28条に規定する権利を含む。以下本条において総称して「知的財産権」という）は、当社又は正当な権利を有する第三者に帰属します。<p></p>
                  ２. お客様は、原則、お客様が自己に著作権があるものを投稿するものとします。<p></p>
                  ３. お客様は、他の利用者を含む第三者の権利にかかる情報（名誉権、著作権その他肖像等のプライバシー権を含みますが、これに限りません。）を本サービスに投稿する場合は、それぞれの権利者から利用についての許諾を得なければならないものとします。<p></p>
                  ４. お客様は当社に対し、自己の投稿情報に関して、当社が無償で、本サービス内において、非独占的にそれらの使用、複製、変更、削除、翻案、掲載、開示、提供、二次著作物の作成、配布できる権利を許諾し、同一性保持権などを含む著作者人格権を行使しないことについて、予め同意するものとします。<p></p>
                  ５. お客様自身が本サービス内に投稿又は公開した送信データ等についての知的財産権は当該お客様に帰属しますが、それが一般ユーザーにも閲覧可能な状態で公開されている場合、当社はこれを当該お客様の許諾なく当社が自由に使用できるものとします。<p></p>
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第５条（責任及び注意義務について）</strong>
                  <span>
                  １. お客様は、自己の責任に基づき本サービスを利用するものとし、お客様が送信する送信データ等について、全ての責任を負うものとします。<p></p>
                  ２. お客様は当社に対し、他のお客様、第三者との間で紛争、損害賠償の請求などが起こった場合の損害、責任について一切を免責するものとし、お客様自身で解決するものとします。<p></p>
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第６条（禁止事項）</strong>
                  <span>
                  　お客様は以下の行為又はそのおそれがある行為をしてはならず、これに違反した場合、当該お客様に通知することなく、当社は当該お客様の本サービスの利用を停止、送信データ等の削除等の当社が適切と判断する措置を行うことができるものとします。<p></p>
                  　１. 当社が不適切と判断した行為<br>
                  　２. 第三者の権利を侵害する行為<br>
                  　３. 第三者のプライバシーを侵害する行為<br>
                  　４. 第三者に対し、いやがらせとなる行為<br>
                  　５. 第三者に対し、嫌悪感を与える行為<br>
                  　６. 第三者を差別する、差別的な、又は差別につながる行為<br>
                  　７. 本サービスに関するウェブサイト上の情報を改ざん、又は消去する行為<br>
                  　８. 本サービスを当社の許可なく商用利用する行為<br>
                  　９. 本サービスを利用して犯罪行為の全部又は一部をなす行為<br>
                  １０. 本サービスを公序良俗に反して利用する行為<br>
                  １１. 本サービスを利用して暴力的、グロテスク、その他一般的に不快を感ずる文章、画像、図画、イメージ、その他の表現及び情報等をアップロード、ダウンロード、その他共有する行為<br>
                  １２. 本サービスを第三者に再配布、使用許諾等する行為<br>
                  １３. 本サービスのサーバなどに過負荷を与えるプログラムなどの設置及び掲載等の行為<br>
                  １４. 本サービス運営に支障をきたす行為<br>
                  １５. 本サービスを妨害する行為<br>
                  １６. 法令又は公序良俗に反する行為<br>
                  １７. ストーキング行為を行う等の第三者に対する嫌がらせ行為<br>
                  １８. ポルノ又はアダルトなどわいせつ、わい雑な内容を含む投稿情報を掲載する（ハイパーリンクの貼付け等も含みます。）行為<br>
                  １９. 詐欺、児童売買春、賭博、預金口座及び携帯電話の違法な売買その他の違法行為を予告、関与又は助長する行為<br>
                  ２０. 拳銃等の譲渡、爆発物の製造、殺人、脅迫その他の違法行為を請け負い、仲介し、又は誘引する行為<br>
                  ２１. 異性との出会い等を希望又は誘引することその他出合い系サイト類似利用が主な目的である、又はおそれがある一切の行為<br>
                  ２２. ねずみ講、マルチまがい商法等の無限連鎖販売取引、マルチ商法等の連鎖販売取引、もしくはその誘引、勧誘、又はそれに類する取引を行う行為<br>
                  ２３. 実在する第三者の人物・団体名などを登録する行為<br>
                  ２４. 自己が保有する以外のメールアドレスを登録する行為<br>
                  ２５. ウイルス等有害なプログラムを投稿、掲載、開示、提供、送付、配布又は販売する行為<br>
                  ２６. 広告の掲載及び表示等のみを目的とした本サービスの使用<br>
                  ２７. 自己のアカウントの貸与、譲渡、売買その他の処分又はそれに類する行為<br>
                  ２８. 現金又は現金相当の商品やポイントの提供を内容に含む投稿情報を掲載する行為<br>
                  ２９. なりすまし、または模倣などをしたコンテンツを投稿する行為<br>
                  ３０. 品性を欠く行為<br>
                  ３１. 虚偽情報を投稿及び登録する行為<br>
                  ３２. 本サービス各ページと関連のない投稿をする行為<br>
                  ３３. 第三者の混乱又は誤解を招く行為<br>
                  ３４. 未成年者との交際を求める/求めに応じる等の不適切な交際を促進する行為<br>
                  ３５. 前各号に該当するおそれ、又はつながる可能性のある行為<br>
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第７条（お客様への通知）</strong>
                  <span>
                  １. 当社は、お客様に対し連絡を取る必要があると判断した場合、本サービス上で表示する、又は本サービスに登録されたお客様の電子メールアドレスに対し送信する方法、その他当社が適当と判断する手段を用いて連絡するものとします。<p></p>
                  ２. 前項のほか、当社は、本サービスの運営に関する告知、その他情報を登録されたお客様の電子メールアドレスに対し、送信することがあることについて、お客様は予め同意するものとします。<p></p>
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第８条（個人情報及びプライバシー）</strong>
                  <span>
                  １. 当社は、本サービスを提供するにあたり必要となる最小限の情報をお客様から取得します。当社は、お客様から取得したプライバシー情報の保護に最大限の注意を払います。<p></p>
                  ２. 当社は、ご登録いただく個人情報を、個人情報保護管理者の統括の下、当社が管理し、本サービスのご案内、提供、各種問合せ対応、その他当社のサービスに関するご案内の目的で利用します。お客様はこれに予め同意するものとします。<p></p>
                  ３. 当社は、登録された個人情報を、本規約で定めたとき又は事前のお客様の同意なく第三者(開発会社等含む)に提供することはございません。<p></p>
                  ４. お客様は、個人情報に関する利用目的の通知・開示、訂正・追加・削除、消去・利用停止・提供停止の請求をプライバシーポリシーに記載された方法によりおこなうことができます。<p></p>
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第９条（免責事項）</strong>
                  　当社は、本サービスに関し、次のいずれも保証せず、かつ次のいずれかの事由が発生したことによりお客様又はお客様以外の第三者に発生した紛争及び損害について、一切の責任を負う義務はないものとします。<p></p>
                  <span>
                  １. 本サービスが内容の変更、停止、エラー、中断、終了しないこと<p></p>
                  ２. 本サービスを通じて送受信、交換、蓄積される情報データ等の流出もしくは消失、第三者の権利侵害等<p></p>
                  ３. お客様の登録情報及び投稿情報等のデータが消失しないこと<p></p>
                  ４. 本サービスに関連して発生したお客様又は第三者の損害<p></p>
                  ５. 本サービスの提供のためのインフラ、ソフトウェア、又はハードウェア等に故障、通信回線の障害を含む一切の瑕疵がないこと<p></p>
                  ６. 本サービスを通じて得られる情報等について、その完全性、確実性、有用性、正確性<p></p>
                  ７. 本サービス及び当社からの電子メールが第三者による不正な攻撃を受けない、又はウイルスその他の有害な要素を含まないこと<p></p>
                  ８. 本サービスの内容がお客様の目的及び希望等に適合すること<p></p>
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第１０条（会員ユーザーの退会）</strong>
                  <span>
                  １. 本サービスの会員ユーザーは、当社の定める手続きにより退会することができます。<p></p>
                  ２. 当社は、退会した会員ユーザーの利用情報、コンテンツ、登録情報、送信データ等の本サービスに関するデータを引き続き保有する義務はないものとします。<p></p>
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第１１条（利用停止）</strong>
                  <span>
                  １. 当社は、本サービスの円滑な運営のため、以下に該当する場合はお客様に通知することなくページの公開および利用を停止し、当該会員ユーザーが本サービスに保存したデータを削除できる権利を有するものとします。<p></p>
                  （１）会員ユーザーのご利用が１年以上認められない場合<p></p>
                  （２）本規約、プライバシーポリシーに違反した場合<p></p>
                  （３）当社やお客様の生命・身体、財産、その他権利及び公共的利益の保護その他緊急の必要性があると判断した場合<p></p>
                  （４）警察、検察、裁判所等の公的機関より適法・適式な利用停止および保存データの削除の要請がある場合<p></p>
                  （５）会員ユーザーがアカウントを削除、または利用を停止した場合<p></p>
                  （６）前各号のほか、弊社が必要と判断した場合<p></p>
                  ２. 当社は、削除されたデータを復元する責任を負わないものとし、利用停止および保存データの削除に起因する直接的または間接的な損害に関して一切責任を負わないものとします。<p></p>
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第１２条（サービスの変更等）</strong>
                  <span>
                  　当社は、当社の都合により、いつでも任意の理由で本サービスについて修正、追加、変更、中断、終了し、運営を第三者に委託し、又は本サービスを第三者に譲渡することができます。この場合、お客様に発生した損害について、当社は一切の責任を負わないものとします。<p></p>
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第１３条（規約の改訂）</strong>
                  <span>
                  １. 当社は、当社独自の判断によりいつでも本規約を改正できるものとします。お客様は、本規約の最新の内容を本サービス上でご確認できます。<p></p>
                  ２. 当社は、本規約の改正後、お客様が本サービスを利用した時点で改正後の内容についても同意したものとみなします。お客様は、本規約の改正後内容に同意できない場合は、直ちに本サービスの利用を停止し、退会するものとします。<p></p>
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第１４条（問題解決等）</strong>
                  <span>
                  １. お客様は、本サービスに関して他の第三者と紛争が生じた場合は、自己の費用と責任において当該紛争を解決するものとし、当社に一切の迷惑をかけないものとします。<p></p>
                  ２. 前項の紛争等について、当社は一切関知せず、何らの義務、費用等その一切の責任を負わないものとします。<p></p>
                  ３. お客様の本サービスの利用、および投稿情報に起因し、当社及び他のサービス利用者を含む第三者に対し損害を与えた場合、当該お客様は、損害を与えた者に対してその責任の全てを負い、損害の全てを賠償するものとします。<p></p>
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>第１５条（準拠法・裁判管轄）</strong>
                  <span>
                  １. 本規約は日本国法に準拠し、日本国法に従って解釈されるものとします。<p></p>
                  ２. 本サービスに関連するお客様と当社との間の問題は、両者誠意を持って協議し解決するものとします。協議によっても解決が得られない場合、札幌簡易裁判所又は札幌地方裁判所を第一審の専属的合意管轄裁判所とします。<p></p>
                  </span>
                </div>
              </div>


              <div class="txtTempSet txtTemp1 clearfix">
                <div class="fL">
                  <strong>特約事項</strong>
                  <span>
                  　なし
                  </span>
                </div>
              </div>

              2016年03月01日制定（同日施行） 合同会社ヴァージンテック
              
            </p>
          </div>
        </div>
      </div>
    <div class="col-xs-12 col-sm-2"></div>
  </div>  
</div>

<!--=========================
余白
==========================-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center" style="height:50px;">
  
    </div>
  </div>
</div>

<!--========================
フッダー表示
==========================-->
<%= render 'layouts/footer' %>

<!--========================
バックスクロールボタン表示
==========================-->
<%= render 'layouts/back_scroll_btn' %>