<!--================
エラーメッセージ
====================-->
<% if user_logged_in? %>
  <div class="hidden-xs">
    <%= render 'shared/error_messages', object: @user_comment %>
  </div>
<% end %>

<!--================
つぶやき投稿パネル
====================-->
<% if user_logged_in? %>
  <div class="panel panel-primary hidden-sm hidden-xs">
    <div class="panel-heading">
      <h2 class="panel-title">つぶやき投稿</h2>
    </div>
    <div class="panel-body">
      
      <%= form_for(@user_comment) do |f| %>
        <div class="user-comment-form">
          
  
          <%= f.hidden_field :product_id, :value => @product.id %>
          <%= f.text_area :comment, :size=>"70x5", class: 'form-control' %>
          <p></p>
          
          <%#= f.file_field :image, onchange:"fileCommentImage(event,'comment_img')",class: 'form-control' %>
          <%= f.file_field :image, id:"file", style:"display:none;", onchange:"fileCommentImage(event,'comment-img')" %>
          <%= f.hidden_field :image_cache %>
          <!--擬似ボタン-->
          <div onClick="$('#file').click();" class="btn btn-default img-btn">
            <span class="glyphicon glyphicon-camera img-btn-icon"></span>
          </div>
  
          <div id="comment-img">
            <% if @user_comment.image? %>
              <%= image_tag @user_comment.image.url %>
            <% end %>
          </div>
  
          <div class="text-right">
            <%= f.submit "　投稿する　", class: "btn btn-primary" %>
          </div>
  
        </div>
      <% end %>
  
    </div>
  </div>
<% end %>
<!--================
つぶやきリスト
====================-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">つぶやき一覧</h2>
  </div>
  <div class="panel-body comment-body-bg">
    
    <div id="user-comments">
      <% @comments.each do |comment| %>
        <%= render partial: 'user_comments/user_comment', locals: { comment: comment } %>
      <% end %>
      <%= paginate(@comments) %>
    </div>

  </div>
</div>

