<!--================
エラーメッセージ
====================-->
<% if user_logged_in? %>
  <div class="hidden-xs">
    <%= render 'shared/error_messages', object: @user_comment %>
  </div>
<% end %>

<!--================
つぶやき投稿パネル
====================-->
<% if user_logged_in? %>
  <div class="panel panel-primary hidden-sm hidden-xs">
    <div class="panel-heading">
      <h2 class="panel-title">つぶやきを投稿してみましょう！</h2>
    </div>
    <div class="panel-body">
      
      <%= form_for(@user_comment) do |f| %>
        <div class="user-comment-form">
          <%= f.hidden_field :product_id, :value => @product.id %>
          <%= f.text_area :comment, :size=>"70x5", class: 'form-control' %>
          <p></p>
          
          <%#= f.file_field :image, onchange:"fileCommentImage(event,'comment_img')",class: 'form-control' %>
          <%= f.file_field :image, id:"file", style:"display:none;", onchange:"fileCommentImage(event,'comment-img')" %>
          <%= f.hidden_field :image_cache %>
          <!--擬似ボタン-->
          <div onClick="$('#file').click();" class="btn btn-default img-btn">
            <span class="glyphicon glyphicon-camera img-btn-icon"></span>
          </div>
  
          <div id="comment-img">
            <!--バリデーションで引っかかった場合、キャッシュを表示させる-->
            <% if @user_comment.image? %>
              <%= image_tag @user_comment.image.url %>
            <% end %>
          </div>
  
          <div class="text-right">
            <%= f.submit "　投稿する　", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      公序良俗に反する発言や他人を誹謗中傷する行為等、利用規約に反する不適切なコメントを
      発見した場合、予告なくコメント削除またはアカウント停止などの措置を取らせていただく場合が
      ございます。
    </div>
    
  </div>
<% end %>
<!--================
つぶやきリスト
====================-->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">つぶやき一覧</h2>
  </div>
  <div class="panel-body comment-body-bg">
    
    <% if !@comments.present? %>
      <span class="result-empty">まだ何もございません。</span>
    <% else %>
      <div id="user-comments">
        <% @comments.each do |comment| %>
          <%= render partial: 'user_comments/user_comment', locals: { comment: comment } %>
        <% end %>
        <%= paginate(@comments) %>
      </div>
    <% end %>

  </div>
</div>

<!--=================
  拡大イメージ（モーダルダイアログ）
=====================-->
<div class="modal fade" id="modal-img-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
        </button>
        <h4 class="modal-title"><span id="modal-app-title"></span></h4>
        <div id="modal-img-disp">
          <img src="#" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
