<!--========================
フラッシュメッセージ
==========================-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
  </div>
</div>

<!--========================
ボディ
==========================-->
<div class="col-xs-12 col-sm-4 col-md-3"></div>
<div class="col-xs-12 col-sm-4 col-md-6">

  <div class="panel panel-info" style="margin-top:50px;">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-envelope">統計情報</h2>
    </div>
    <div class="panel-body">
      ユーザー数: <%=User.count %><p></p>
      デヴェロッパー数: <%=Developer.count %><p></p>
      アプリ数: <%=Product.count %><p></p>
      ユーザーコメント数: <%=UserComment.count %><p></p>
      デヴェロッパーコメント数: <%=DevComment.count %><p></p>
    </div>
  </div>
  
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-envelope">管理者メニュー</h2>
    </div>
    <div class="panel-body">
      <%=link_to "ユーザー通知 - メール送信", user_mail_info_path %>
      <p></p>
      <%=link_to "デベロッパー通知 - メール送信", dev_mail_info_path %>
      <p></p>
      <%=link_to "おすすめアプリ - メール送信", product_mail_info_path %>
      <p></p>
      <%=link_to "ログアウト", administrator_path(Rails.application.secrets.admin_account_secret), method: "delete" %>
    </div>
  </div>
<div class="col-xs-12 col-sm-4 col-md-3"></div>

