<%= form_for(@product) do |f| %>

  <!-- エラーメッセージ -->
  <%= render 'shared/error_messages', object: f.object %>

  <!--==================
  アプリタイトル
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">アプリネーム</span> <span class="require2">＊必須</span>
      </h2>
    </div>
    <div class="panel-body">
      <%= f.text_field :appname, class: 'form-control', autofocus: true %>
      <p></p>
    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      アプリネームを50文字以内で入力して下さい。
    </div>
  </div>
  <!--==================
  アプリ概要
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">アプリ概要</span> <span class="require2">＊必須</span>
      </h2>
    </div>
    <div class="panel-body">
      <%= f.text_area :summary, :size=>"70x3", class: 'form-control' %>
      <p></p>
    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      アプリ概要はアプリ一覧に表示されます。140文字以内で入力して下さい。
    </div>
  </div>
  <!--==================
  アプリ詳細
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">アプリ詳細説明</span> <span class="require2">＊必須</span>
      </h2>
    </div>
    <div class="panel-body">
      <%= f.text_area :description, :size=>"70x7", class: 'form-control' %>
      <p></p>
    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      アプリの詳細説明を記入して下さい。(文字数制限なし)
    </div>
  </div>
  <!--==================
  カテゴリ
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">カテゴリ</span> <span class="require2">＊必須</span>
      </h2>
    </div>
    <div class="panel-body">
      <%= f.select :category, category_list, 
                                    {:selected => @product.category, :prompt => true},
                                    class: 'form-control' %>
      <p></p>
    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      アプリの対応するカテゴリを一つ選択して下さい。
    </div>
  </div>
  <!--==================
  価格
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">価格</span> <span class="require2">＊必須</span>
      </h2>
    </div>
    <div class="panel-body">
      <%= f.select :price, price_list, 
                                    {:selected => @product.price, :prompt => true},
                                    class: 'form-control' %>
      <p></p>
    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      アプリの価格を入力して下さい。
    </div>
  </div>
  <!--==================
  対応機種
  ====================-->
  <%= hidden_field_tag 'product[model]' %> <!--#カスタムバリデート用 -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">対応機種</span> <span class="require2">＊必須</span>
      </h2>
    </div>
    <div class="panel-body">
      <table border=0>
        <tr>
          <td width=20><%= f.check_box :model_iphone, :checked => @product.model_iphone,class: 'form-control', id: 'model-iphone' %></td>
          <td width=70>iPhone</td>
        
          <td width=20><%= f.check_box :model_android, :checked => @product.model_android,class: 'form-control', id: 'model-android' %></td>
          <td width=70>Android</td>
        
          <td width=20><%= f.check_box :model_web, :checked => @product.model_web,class: 'form-control', id: 'model-webgame' %></td>
          <td width=100>Webゲーム</td>
        </tr>
      </table>
      <p></p>
    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      アプリの対応機種を選択して下さい。(複数可)
    </div>
  </div>
  <!--==================
  ストアURL
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">アプリ(ストア)URL</span> <span class="require2">＊必須</span>
      </h2>
    </div>
    <div class="panel-body">
      <span class="product-input-label">AppStore</span>
      <%= f.text_field :store_iphone_url,disabled: !@product.model_iphone, class: 'form-control',id: 'store-iphone' %>
      <p></p>
      <span class="product-input-label">GooglePlay Store</span>
      <%= f.text_field :store_android_url,disabled: !@product.model_android, class: 'form-control',id: 'store-android' %>
      <p></p>
      <span class="product-input-label">Web Game</span>
      <%= f.text_field :store_webgame_url,disabled: !@product.model_web, class: 'form-control',id: 'store-webgame' %>
      <p></p>
    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      アプリストアのURLを入力して下さい。(ブラウザゲームの場合はそのURLを入力して下さい)
    </div>
  </div>
  <!--==================
  アプリアイコン
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-camera">
        <span class="input-header">アプリアイコン</span> <span class="require2">＊必須</span>
      </h2>
    </div>
    <div class="panel-body">
      <%= f.file_field :img_icon, onchange:"fileIconImage(event,'disp')",class: 'form-control' %>
      <%= f.hidden_field :img_icon_cache %>
      <p></p>
      
      <div id="disp">
        <% if @product.img_icon? %>
          <%= image_tag @product.img_icon.url %>
          <%= f.check_box :remove_img_icon %>削除する
        <% end %>
      </div>
      <p></p>
    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      アップロードできるファイルタイプは、jpg, jpeg, gif, png, bmp, tiff です。<br class="hidden-xs">
      画像は概ね正方形でお願いします。縦横比が異なると表示が歪む場合がございます。
    </div>
  </div>
  <!--==================
  スクリーンショット
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-camera">
        <span class="input-header">スクリーンショット</span> <span class="require2">＊必須</span>
      </h2>
    </div>
    <div class="panel-body">
      
      <span class="require">＊一枚は必須です</span>
      <%= f.file_field :img_screenshot_01, onchange:"fileScreenShot(event,'screen_01')",class: 'form-control' %>
      <%= f.hidden_field :img_screenshot_01_cache %>
      <p></p>
      <div id="screen_01">
        <% if @product.img_screenshot_01? %>
          <%= image_tag @product.img_screenshot_01.url %>
          <%= f.check_box :remove_img_screenshot_01 %>削除する
        <% end %>
      </div>
      <p></p>

      <span class="option">＊以降はオプション</span>
      <%= f.file_field :img_screenshot_02, onchange:"fileScreenShot(event,'screen_02')",class: 'form-control' %>
      <%= f.hidden_field :img_screenshot_02_cache %>
      <p></p>
      <div id="screen_02">
        <% if @product.img_screenshot_02? %>
          <%= image_tag @product.img_screenshot_02.url %>
          <%= f.check_box :remove_img_screenshot_02 %>削除する
        <% end %>
      </div>
      <p></p>

      <%= f.file_field :img_screenshot_03, onchange:"fileScreenShot(event,'screen_03')",class: 'form-control' %>
      <%= f.hidden_field :img_screenshot_03_cache %>
      <p></p>
      <div id="screen_03">
        <% if @product.img_screenshot_03? %>
          <%= image_tag @product.img_screenshot_03.url %>
          <%= f.check_box :remove_img_screenshot_03 %>削除する
        <% end %>
      </div>
      <p></p>

      <%= f.file_field :img_screenshot_04, onchange:"fileScreenShot(event,'screen_04')",class: 'form-control' %>
      <%= f.hidden_field :img_screenshot_04_cache %>
      <p></p>
      <div id="screen_04">
        <% if @product.img_screenshot_04? %>
          <%= image_tag @product.img_screenshot_04.url %>
          <%= f.check_box :remove_img_screenshot_04 %>削除する
        <% end %>
      </div>
      <p></p>

      <%= f.file_field :img_screenshot_05, onchange:"fileScreenShot(event,'screen_05')",class: 'form-control' %>
      <%= f.hidden_field :img_screenshot_05_cache %>
      <p></p>
      <div id="screen_05">
        <% if @product.img_screenshot_05? %>
          <%= image_tag @product.img_screenshot_05.url %>
          <%= f.check_box :remove_img_screenshot_05 %>削除する
        <% end %>
      </div>
      <p></p>

    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      アップロードできるファイルタイプは、jpg, jpeg, gif, png, bmp, tiff です。<br class="hidden-xs">
      画像サイズに制限はありませんが、大きさは縦横比率を維持したまま表示されます。<br class="hidden-xs">
      なお、最低1枚は必須で、最大5枚まで登録できます。
    </div>
  </div>
  <!--==================
  リリース日
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">リリース日</span> <span class="require2">＊必須</span>
      </h2>
    </div>
    <div class="panel-body">
      <%= f.date_select :sale_date,{
        use_month_numbers: true, # jan, febとかじゃなくて数字で月を表現
        start_year: (Time.now.year-5), # 何年から表示させるか
        end_year: (Time.now.year+2), # 何年まで表示させるか
        default: Date.new(Time.now.year, Time.now.month, Time.now.day) } #, 最初に表示されている年月日
        # class: 'form-control'
      %>
      <p></p>
    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      アプリのリリース日を入力して下さい。(未来でも可)<br class="hidden-xs">
      未来日を設定した場合「リリース待ちアプリ」として絞り込み検索が可能になります。
    </div>
  </div>
  <!--==================
  公式サイト等
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">公式サイト等</span> <span class="require2">＊オプション</span>
      </h2>
    </div>
    <div class="panel-body">

      <span class="product-input-label">アプリ公式サイト</span>
      <%= f.text_field :official_site, class: 'form-control' %>
      <p></p>
      <span class="product-input-label">公式Twitter</span>
      <%= f.text_field :twitter, class: 'form-control' %>
      <p></p>
      <span class="product-input-label">公式Facebook</span>
      <%= f.text_field :facebook, class: 'form-control' %>
      <p></p>
      <span class="product-input-label">その他攻略サイト等</span>
      <%= f.text_field :etc_site, class: 'form-control' %>
      <p></p>

    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      アプリ公式サイト、公式ツイッター、公式フェイスブックなどがあれば入力して下さい。
    </div>
  </div>

  <!--==================
  YouTubeムービー
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">YouTubeムービー</span> <span class="require2">＊オプション</span>
      </h2>
    </div>
    <div class="panel-body">

      <span class="product-input-label">YouTube URL</span> (埋め込みコードのURL部分)
      <%= f.text_field :youtube_url, class: 'form-control' %>
      <p></p>

    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      YouTubeにプロモーションムービー等がありましたら入力して下さい。<br class="hidden-xs">
      <font color=red>＊注意 URLは埋め込み用コードのURLでなければ正しく表示されません。</font>
      共有-埋め込みコードの下記赤い部分(URL)を入力してください。
      <br />
      &lt;iframe width="560" height="315" src="<font color=red>https://www.youtube.com/embed/**********</font>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <!--==================
  アップデート情報
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">アップデート情報</span> <span class="require2">＊オプション</span>
      </h2>
    </div>
    <div class="panel-body">

      <%= f.text_area :update_info, :size=>"70x3", class: 'form-control' %>
      <p></p>

    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      オプション項目です。アップデート情報は開発者コメントを利用する方法もあります。
    </div>
  </div>

  <!--==================
  動作環境・注意事項
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">動作環境や注意事項</span> <span class="require2">＊オプション</span>
      </h2>
    </div>
    <div class="panel-body">

      <%= f.text_area :operating_notes, :size=>"70x3", class: 'form-control' %>
      <p></p>

    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      オプション項目です。
    </div>
  </div>

  <!--==================
  基本的な遊び方
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">基本的な遊び方</span> <span class="require2">＊オプション</span>
      </h2>
    </div>
    <div class="panel-body">

      <%= f.text_area :how_to_play, :size=>"70x3", class: 'form-control' %>
      <p></p>

    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      オプション項目です。
    </div>
  </div>

  <!--==================
  ゲームの特徴や攻略など
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">ゲームの特徴や攻略など</span> <span class="require2">＊オプション</span>
      </h2>
    </div>
    <div class="panel-body">

      <%= f.text_area :features_cheats, :size=>"70x3", class: 'form-control' %>
      <p></p>

    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      オプション項目です。
    </div>
  </div>

  <!--==================
  開発の経緯など
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">開発の経緯など</span> <span class="require2">＊オプション</span>
      </h2>
    </div>
    <div class="panel-body">

      <%= f.text_area :history_of_develop, :size=>"70x3", class: 'form-control' %>
      <p></p>

    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      オプション項目です。
    </div>
  </div>

  <!--==================
  ユーザーに一言
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">ユーザーに一言</span> <span class="require2">＊オプション</span>
      </h2>
    </div>
    <div class="panel-body">

      <%= f.text_area :word_to_user, :size=>"70x3", class: 'form-control' %>
      <p></p>

    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      オプション項目です。
    </div>
  </div>

  <!--==================
  なにかありましたら
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title glyphicon glyphicon-pencil">
        <span class="input-header">最後に何かありましたら</span> <span class="require2">＊オプション</span>
      </h2>
    </div>
    <div class="panel-body">

      <%= f.text_area :finally_something, :size=>"70x3", class: 'form-control' %>
      <p></p>

    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      オプション項目です。
    </div>
  </div>


  <%= f.submit "登録する", class: "btn btn-primary" %>

<% end %>

<!--===================
 画像読み込みアラート
===================-->
<div class="modal fade" id="alert-undefined-img">
  <%= render 'shared/alert_undefined_img' %>
</div>
