<div class="product-show">

  <!--==================
  アプリ概要
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title" style="word-break: break-all;">
        <%= @product.appname %>
        <span class="glyphicon glyphicon-user favorite-count">(<%= @product.favorited_users.count %>人)</span>
      </h2>
    </div>
    <div class="panel-body">
      
      <!--アプリアイコン-->
      <%= image_tag @product.img_icon.url, class:"app-icon" %>
  
      <!--カテゴリ-->
      <span class="label label-info"><%= category_list.key(@product.category) %></span>
  
      <!--価格-->
      <% if @product.price==1 %>
        <span class="app-price label label-success">無料</span>
      <% elsif @product.price==2 %>
        <span class="app-price label label-danger">有料</span>
      <% end %>

      <!--対応機種-->
      <% if @product.model_iphone %>
        <span class="label label-primary">iOS</span>
      <% end %>
      <% if @product.model_android %>
        <span class="label label-warning">Android</span>
      <% end %>
      <% if @product.model_web %>
        <span class="label label-default">ブラウザゲーム</span>
      <% end %>
      
      <br />
      
      <!--アプリ概要-->
      <span class="app-summary"><%= @product.summary %></span>
      <br />
      
      <% if @product.sale_date <= Date.today %> <!--リリースされていれば-->

        <!--リリース日-->
        <span class="app-sale-date">リリース日:<%= @product.sale_date %></span>
        <br />
        
        <!--ストアURL-->
        <% if @product.model_web %>
          <%= link_to @product.store_webgame_url do %>
            <%= image_tag 'gamesite.png', class:"app-store" %>
          <% end %>
        <% end %>
        <% if @product.model_android %>
          <%= link_to @product.store_android_url do %>
            <%= image_tag 'googleplay.png', class:"app-store" %>
          <% end %>
        <% end %>
        <% if @product.model_iphone %>
          <%= link_to @product.store_iphone_url do %>
            <%= image_tag 'appstore.png', class:"app-store" %>
          <% end %>
        <% end %>

      <% else %> <!--リリースされていなければ-->

        <!--リリース予定日-->
        <span class="app-sale-date">リリース予定日:<%= @product.sale_date %></span>
        <br />

      <% end %>
      
      <p style="clear:both;"></p>
      
      <!--お気に入り登録ボタン-->
      <div class="favorite">
        <% if user_logged_in? %>
          <% if current_user.favoriting?(@product) %>
            <!--お気に入り解除-->
            <%= form_for(current_user.favoriting_relationships.find_by(product_id: @product.id), html: { method: :delete }) do |f| %>
              <%= f.submit "お気に入り解除", class: "btn btn-default form-control" %>
            <% end %>
          <% else %>
            <!--お気に入り登録-->
            <%= form_for(current_user.favoriting_relationships.build) do |f| %>
              <%= hidden_field_tag :product_id, @product.id %>
              <%= f.submit "お気に入り登録", class: "btn btn-danger form-control" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      
    </div>
  </div>
  
  <!--==================
  スクリーンショット
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">スクリーンショット</h2>
    </div>
    <div class="panel-body">
      
      <% if @screen_vertical %>
        <div class="app-screen-vertical">
      <% else %>
        <div class="app-screen-horizontal">
      <% end %>

        <%= link_to "#modal-img-dialog",data: {toggle: "modal",
                                                title: @product.appname,
                                                imgurl: @product.img_screenshot_01.url
                                                } do %>
          <%= image_tag @product.img_screenshot_01.url %>
        <% end %>
        <%= link_to "#modal-img-dialog",data: {toggle: "modal",
                                                title: @product.appname,
                                                imgurl: @product.img_screenshot_02.url
                                                } do %>
          <%= image_tag @product.img_screenshot_02.url %>
        <% end %>
        <%= link_to "#modal-img-dialog",data: {toggle: "modal",
                                                title: @product.appname,
                                                imgurl: @product.img_screenshot_03.url
                                                } do %>
          <%= image_tag @product.img_screenshot_03.url %>
        <% end %>
        <%= link_to "#modal-img-dialog",data: {toggle: "modal",
                                                title: @product.appname,
                                                imgurl: @product.img_screenshot_04.url
                                                } do %>
          <%= image_tag @product.img_screenshot_04.url %>
        <% end %>
        <%= link_to "#modal-img-dialog",data: {toggle: "modal",
                                                title: @product.appname,
                                                imgurl: @product.img_screenshot_05.url
                                                } do %>
          <%= image_tag @product.img_screenshot_05.url %>
        <% end %>
      </div>
      
    </div>
  </div>

  <!--==================
  YouTubeムービー
  ====================-->
  <% if @product.youtube_url? %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">プロモーションムービー</h2>
      </div>
      <div class="panel-body">
        <div class="app_youtube">
          <iframe src=<%= @product.youtube_url %> frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  <% end %>

  <!--==================
  アプリ詳細
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">アプリ詳細</h2>
    </div>
    <div class="panel-body">
      <span class="app-description"><%= simple_format(@product.description) %></span>
    </div>
  </div>

  <!--==================
  公式サイト等
  ====================-->
  <% if @product.official_site? || @product.twitter? || @product.facebook? || @product.etc_site? %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">公式サイト等</h2>
      </div>
      <div class="panel-body">
        <span class="app-official-site">
          <% if @product.official_site? %>
            公式サイト:<br />
            <p><%= link_to @product.official_site, @product.official_site %></p>
          <% end %>
          <% if @product.twitter? %>
            公式Twitter:<br />
            <p><%= link_to @product.twitter, @product.twitter %></p>
          <% end %>
          <% if @product.facebook? %>
            公式Facebook:<br />
            <p><%= link_to @product.facebook, @product.facebook %></p>
          <% end %>
          <% if @product.etc_site? %>
            攻略サイト等:<br />
            <p><%= link_to @product.etc_site, @product.etc_site %></p>
          <% end %>
        </span>
        
      </div>
    </div>
  <% end %>

  <!--==================
  アップデート情報
  ====================-->
  <% if @product.update_info? %>  
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">アップデート情報</h2>
      </div>
      <div class="panel-body">
        <span class="app-description"><%= simple_format(@product.update_info) %></span>
      </div>
    </div>
  <% end %>

  <!--==================
  動作環境・注意事項
  ====================-->
  <% if @product.operating_notes? %>  
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">動作環境や注意事項</h2>
      </div>
      <div class="panel-body">
        <span class="app-description"><%= simple_format(@product.operating_notes) %></span>
      </div>
    </div>
  <% end %>

  <!--==================
  基本的な遊び方
  ====================-->
  <% if @product.how_to_play? %>  
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">基本的な遊び方</h2>
      </div>
      <div class="panel-body">
        <span class="app-description"><%= simple_format(@product.how_to_play) %></span>
      </div>
    </div>
  <% end %>

  <!--==================
  ゲームの特徴や攻略など
  ====================-->
  <% if @product.features_cheats? %>  
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">ゲームの特徴や攻略など</h2>
      </div>
      <div class="panel-body">
        <span class="app-description"><%= simple_format(@product.features_cheats) %></span>
      </div>
    </div>
  <% end %>

  <!--==================
  開発の経緯など
  ====================-->
  <% if @product.history_of_develop? %>  
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">開発の経緯など</h2>
      </div>
      <div class="panel-body">
        <span class="app-description"><%= simple_format(@product.history_of_develop) %></span>
      </div>
    </div>
  <% end %>

  <!--==================
  ユーザーに一言
  ====================-->
  <% if @product.word_to_user? %>  
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">ユーザーに一言</h2>
      </div>
      <div class="panel-body">
        <span class="app-description"><%= simple_format(@product.word_to_user) %></span>
      </div>
    </div>
  <% end %>

  <!--==================
  なにかありましたら
  ====================-->
  <% if @product.finally_something? %>  
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">最後に一言</h2>
      </div>
      <div class="panel-body">
        <span class="app-description"><%= simple_format(@product.finally_something) %></span>
      </div>
    </div>
  <% end %>
  
</div>

<!--==================================
拡大イメージ（モーダルダイアログ）
====================================-->
<div class="modal fade" id="modal-img-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
        </button>
        <h4 class="modal-title"><span id="modal-app-title"></span></h4>
        <div id="modal-img-disp">
          <img src="#" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
