<div class="product-show">

  <!--==================
  アプリ概要
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title" style="word-break: break-all;"><%= @product.appname %></h2>
    </div>
    <div class="panel-body">
      
      <!--アプリアイコン-->
      <%= image_tag @product.img_icon.url, class:"app-icon" %>
  
      <!--価格-->
      <% if @product.price==1 %>
        <span class="app-price label label-success">無料</span>
      <% elsif @product.price==2 %>
        <span class="app-price label label-danger">有料</span>
      <% end %>

      <!--カテゴリ-->
      <span class="label label-info"><%= category_list.key(@product.category) %></span>
  
      <!--対応機種-->
      <% if @product.model_iphone %>
        <span class="label label-primary">iOS</span>
      <% end %>
      <% if @product.model_android %>
        <span class="label label-warning">Android</span>
      <% end %>
      <% if @product.model_web %>
        <span class="label label-default">ブラウザゲーム</span>
      <% end %>
      
      <br />
      
      <!--アプリ概要-->
      <span class="app-summary"><%= @product.summary %></span>
      <br />
      
      <% if @product.sale_date <= Date.today %> <!--リリースされていれば-->

        <!--リリース日-->
        <span class="app-sale-date">リリース日:<%= @product.sale_date %></span>
        <br />
        
        <!--ストアURL-->
        <% if @product.model_web %>
          <%= link_to @product.store_webgame_url do %>
            <%= image_tag 'gamesite.png', class:"app-store" %>
          <% end %>
        <% end %>
        <% if @product.model_android %>
          <%= link_to @product.store_android_url do %>
            <%= image_tag 'googleplay.png', class:"app-store" %>
          <% end %>
        <% end %>
        <% if @product.model_iphone %>
          <%= link_to @product.store_iphone_url do %>
            <%= image_tag 'appstore.png', class:"app-store" %>
          <% end %>
        <% end %>

      <% else %> <!--リリースされていなければ-->

        <!--リリース予定日-->
        <span class="app-sale-date">リリース予定日:<%= @product.sale_date %></span>
        <br />

      <% end %>
  
    </div>
  </div>
  
  <!--==================
  スクリーンショット
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">スクリーンショット</h2>
    </div>
    <div class="panel-body">
      
      <% if @screen_vertical %>
        <div class="app-screen-vertical">
      <% else %>
        <div class="app-screen-horizontal">
      <% end %>

        <%= link_to "#modal-img-dialog",data: {toggle: "modal",
                                                title: @product.appname,
                                                imgurl: @product.img_screenshot_01.url
                                                } do %>
          <%= image_tag @product.img_screenshot_01.url %>
        <% end %>
        <%= link_to "#modal-img-dialog",data: {toggle: "modal",
                                                title: @product.appname,
                                                imgurl: @product.img_screenshot_02.url
                                                } do %>
          <%= image_tag @product.img_screenshot_02.url %>
        <% end %>
        <%= link_to "#modal-img-dialog",data: {toggle: "modal",
                                                title: @product.appname,
                                                imgurl: @product.img_screenshot_03.url
                                                } do %>
          <%= image_tag @product.img_screenshot_03.url %>
        <% end %>
        <%= link_to "#modal-img-dialog",data: {toggle: "modal",
                                                title: @product.appname,
                                                imgurl: @product.img_screenshot_04.url
                                                } do %>
          <%= image_tag @product.img_screenshot_04.url %>
        <% end %>
        <%= link_to "#modal-img-dialog",data: {toggle: "modal",
                                                title: @product.appname,
                                                imgurl: @product.img_screenshot_05.url
                                                } do %>
          <%= image_tag @product.img_screenshot_05.url %>
        <% end %>
      </div>
      
    </div>
  </div>

  <!--==================
  YouTubeムービー
  ====================-->
  <% if @product.youtube_url? %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">プロモーションムービー</h2>
      </div>
      <div class="panel-body">
        <div class="app_youtube">
          <iframe src=<%= @product.youtube_url %> frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  <% end %>

  <!--==================
  アプリ詳細
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">アプリ詳細</h2>
    </div>
    <div class="panel-body">
      <span class="app-description"><%= simple_format(@product.description) %></span>
    </div>
  </div>

  <!--==================
  公式サイト等
  ====================-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">公式サイト等</h2>
    </div>
    <div class="panel-body">
      <span class="app-official-site">
        <% if @product.official_site? %>
          公式サイト:<br />
          <p><%= link_to @product.official_site, @product.official_site %></p>
        <% end %>
        <% if @product.twitter? %>
          公式Twitter:<br />
          <p><%= link_to @product.twitter, @product.twitter %></p>
        <% end %>
        <% if @product.facebook? %>
          公式Facebook:<br />
          <p><%= link_to @product.facebook, @product.facebook %></p>
        <% end %>
        <% if @product.etc_site? %>
          攻略サイト等:<br />
          <p><%= link_to @product.etc_site, @product.etc_site %></p>
        <% end %>
      </span>
      
    </div>
  </div>

</div>

<!--==================================
拡大イメージ（モーダルダイアログ）
====================================-->
<div class="modal fade" id="modal-img-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
        </button>
        <h4 class="modal-title"><span id="modal-app-title"></span></h4>
        <div id="modal-img-disp">
          <img src="#" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
