<footer class="sticky-footer">
  <div class="container-fluid">
    <div class="row">
      
      <!--=============
      フッターメニュー
      ================-->
      <div class="col-xs-12 col-sm-4" style="margin-top:15px;">
        <%= link_to 'ゲーム☆ニストについて', about_site_path %><br hidden-xs>
        <%= link_to '利用規約', terms_path %><br hidden-xs>
        <%= link_to 'プライバシーポリシー', privacypolicy_path %><br hidden-xs>
      </div>
      
      <div class="col-xs-12 col-sm-4" style="margin-top:15px;">
        <%= link_to '運営会社', 'http://www.virgintech.co.jp' %><br hidden-xs>
        <%= link_to 'お問い合わせ', contact_path %><br hidden-xs>
        <%= link_to 'FAQ', faq_path %><br hidden-xs>
      </div>

      <div class="col-xs-12 col-sm-4" style="margin-top:15px;">
        <%= link_to '開発者の皆様へ', developer_s_path %><br hidden-xs>
        <%= link_to '広告掲載について', advertising_path %><br hidden-xs>
      </div>
      
      <!--=============
      コピーライト
      ================-->
      <div class="col-xs-12 col-sm-12">
        <div class="copyright-box">
          <span>Copyright © 2016 gamenist.com All Rights Reserved.</span>
        </div>
      </div>

    </div>
  </div>
</footer>