<!--==============
ロケーション登録
=================-->
<% user_store_location %>
<% dev_store_location %>

<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12" style="padding:0px;" ><!--定義されているPaddingを打ち消し-->
        <span class="logo">
          <%= link_to "VirginTech", root_path %>
        </span>
        
        <!--======================
        ユーザーログイン中
        ========================-->
        <% if user_logged_in? %>
          
          <div class="session-user">
            <ul class="user-menu">
              <li class="dropdown">
                
                <% if current_user.profile_img? %>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag current_user.profile_img.url, class:"profile_icon" %> <%= current_user.nickname %><span class="caret"></span></a>
                <% else %>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag 'no_profile_img.png', class:"profile_icon" %> <%= current_user.nickname %><span class="caret"></span></a>
                <% end %>
                
                <ul class="sub-menu dropdown-menu dropdown-menu-right">
                  <li><%= link_to "ログアウト",user_session_path(current_user), method: "delete", class:"glyphicon glyphicon-log-out" %></li>
                  <li class="divider"></li>
                  <li><%= link_to "マイページ",user_path(current_user),class:"glyphicon glyphicon-user" %></li>
                  <li><%= link_to "アカウント情報",edit_user_path(current_user), class:"glyphicon glyphicon-list-alt" %></li>
                  <li class="divider"></li>
                  <li><%= link_to "退会","#user_delete",data: {toggle: "modal"}, class:"glyphicon glyphicon-off" %></li>
                </ul>
              </li>
            </ul>
          </div>

        <!--======================
        デベロッパーログイン中
        ========================-->
        <% elsif dev_logged_in? %>
          
          <div class="session-user">
            <ul class="user-menu">
              <li class="dropdown">
                
                <% if current_developer.profile_img? %>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag current_developer.profile_img.url, class:"profile_icon" %> <%= current_developer.name %><span class="caret"></span></a>
                <% else %>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag 'no_profile_img.png', class:"profile_icon" %> <%= current_developer.name %><span class="caret"></span></a>
                <% end %>
                
                <ul class="sub-menu dropdown-menu dropdown-menu-right">
                  <li><%= link_to "ログアウト",dev_session_path(current_developer), method: "delete", class:"glyphicon glyphicon-log-out" %></li>
                  <li class="divider"></li>
                  <li><%= link_to "マイページ",developer_path(current_developer) ,class:"glyphicon glyphicon-user" %></li>
                  <li><%= link_to "アカウント情報",edit_developer_path(current_developer), class:"glyphicon glyphicon-list-alt" %></li>
                  <li><%= link_to "新規アプリ登録",new_product_path, class:"glyphicon glyphicon-tower" %></li>
                  <li class="divider"></li>
                  <li><%= link_to "退会","#developer_delete",data: {toggle: "modal"}, class:"glyphicon glyphicon-off" %></li>
                </ul>
              </li>
            </ul>
          </div>
          
        <!--======================
        セッションなし
        ========================-->
        <% else %>

          <div class="login-btn">
            <table>
              <tr>
                <td>
                  <%= link_to "#user_login", class: "btn btn-primary btn-sm", data: {toggle: "modal"} do %>
                    <span class="glyphicon glyphicon-user"></span>　ユーザー　<br />ログイン
                  <% end %>
                  <!--こちらでも別に良いよ
                  <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#login">
                    <span class="glyphicon glyphicon-user"></span>　ユーザー　<br />ログイン
                  </button>-->
                </td>
                <td>
                  <%= link_to "#dev_login", class:"btn btn-success btn-sm", data: {toggle: "modal"} do %>
                    <span class="glyphicon glyphicon-knight"></span>デベロッパー<br />ログイン
                  <% end %>
                </td>
              </tr>
              <tr>
                <td align=center>
                  <%= link_to new_user_path, class:"signup" do %>
                    <span class="glyphicon glyphicon-log-in"></span>
                    新規登録
                  <% end %>
                </td>
                <td align=center>
                  <%= link_to new_developer_path, class:"signup" do %>
                    <span class="glyphicon glyphicon-log-in"></span>
                    新規登録
                  <% end %>
                </td>
              </tr>
            </table>
          
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
</header>

<!--=========================
ユーザーログインダイアログ
============================-->
<div class="modal fade" id="user_login">
  <%= render 'users/user_login_dialog' %>
</div>

<!--=========================
ユーザー退会申請ダイアログ
============================-->
<% if user_logged_in? %>
  <div class="modal fade" id="user_delete">
    <%= render 'users/user_delete_dialog' %>
  </div>
<% end %>

<!--=========================
デベロッパーログインダイアログ
============================-->
<div class="modal fade" id="dev_login">
  <%= render 'developers/dev_login_dialog' %>
</div>

<!--=========================
デベロッパー退会申請ダイアログ
============================-->
<% if dev_logged_in? %>
  <div class="modal fade" id="developer_delete">
    <%= render 'developers/dev_delete_dialog' %>
  </div>
<% end %>
