<!DOCTYPE html>
<html>
<head>

  <% if content_for?(:head) %>
    <%= yield :head %>
  <% else %>
    <title>ゲームニスト | ゲームアプリソーシャルレビューサービス</title>
    <meta name="description" content="ゲームアプリに関するソーシャルレビューサービスです。">
    <meta name="keywords" content="ゲームニスト,ゲーム,アプリ,iphone,android,スマホ">
  <% end %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  
  <!-- ソーシャルボタン用 -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
</html>
